header {
  display: flex;
  background: linear-gradient(#ABD0CF, #79ABAA);
  width: 100%;
  margin: auto;
  border-radius: 2px 2px 0 0;
  color: white;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

header nav {
  justify-content: flex-end;
}

header nav ul {
  flex: 1;
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: blue;
}

ul li a:hover {
  text-decoration: underline;
}

.active {
  color: red;
}

header div img {
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.spacer {
  padding-right: 50px;
}
