header {
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

nav {
  justify-content: center;
  text-align: center;
  background-color: #aacfd0;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 6px 6px 3px gray;
}

header nav ul {
  list-style: none;
  display:inline-block;
}

header nav ul li {
  margin-right: 10px;
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
  vertical-align: middle;
}

ul li strong {
  margin-right: 5px;
}

ul li a {
  text-decoration: none;
  color: blue;
}

ul li a:hover {
  text-decoration: underline;
}

.active {
  color: white;
  font-weight: bold;
}

#noviaal-logo {
  height: 80px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-left: 0;
  float: left;
}

.loggedin {
  padding-left: 20px;
  border-right: none;
  border-left: none;
}

.bigger {
  font-size: xx-large;
  padding-right: 27px;
  color: white;
  border-left: 1px solid blue;
  padding-left: 30px;
  margin-right: 30px;
}